
@{
    ViewData["Title"] = "UpdateAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UpdateAdminDTO

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Admin Bilgilerini Güncelle</h4>
            <form class="user" asp-area="Admin" asp-controller="Login" asp-action="UpdateAdmin">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Kullanıcı adınızı giriniz...">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Şifre...">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Bilgileri Güncelle!
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a asp-area="Admin" asp-action="Index" asp-controller="DashBoard" class="small">Anasayfa</a>
            </div>
        </div>
    </div>
</div>

