
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Admin/Views/AdminPartials/PartialHead.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Admin/Views/AdminPartials/PartialNav.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            @await Html.PartialAsync("/Areas/Admin/Views/AdminPartials/PartialSideBar.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @if (TempData["Success"] is not null)
                        {
                            <div class="alert alert-success notification" role="alert">
                                @TempData["Success"]
                            </div>
                        }
                        @if (TempData["Error"] is not null)
                        {
                            <div class="alert alert-danger notification" role="alert">
                                @TempData["Error"]
                            </div>
                        }
                        @RenderBody()
                    </div>
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>@DateTime.Now.Year</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/AdminPartials/PartialScript.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>