
@model List<GetTeamVM>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Ekip Arkadaşlarımız</p>
                <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ad Soyad</th>
                                <th>Görev</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Title</td>
                                </tr>
                            }                                                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>